@{
    ViewBag.Title = "About Brooke";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This site is used to learn about me. I am a senior at Ohio University studying MIS and Marketing. I will be graduating in May 2020.</p>
