@{
    ViewBag.Title = "Brooke Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    10 Rufus Street<br />
    Athens, Ohio 45701<br />
    <abbr title="Phone">P:</abbr>
    440-382-9311
</address>

<address>
    <strong>Contact me:</strong>   <a href="mailto:bi605715@ohio.edu">bi605715@ohio.edu</a><br />
</address>