@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>MIS4200</h2>
    <p>This is a site for Brooke Inghram</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Hometown</h2>
        <p>I am from Cleveland, Ohio.</p>

    </div>
    <div class="col-md-4">
        <h2>Organizations</h2>
        <p>I am involved in Ohio Women in Business</p>
      
    </div>
    <div class="col-md-4">
        <h2>Hobbies</h2>
        <p>In my free time I enjoy golfing and spending time with my family.</p>
        
    </div>
</div>